$color-text: rgb(0, 0, 0);
$text-font: Montserrat;
$price-text: rgb(5, 5, 5);


.header-catalog{
    background: url(img/catalog_bg.jpeg),rgb(196, 196, 196);
}

.catalog__top {
    padding-left: calc(50% - 600px);
    padding-right: calc(50% - 600px);
    display: flex;
    justify-content: space-between;

    &_text {
        display: flex;
        color: $color-text;
        font-family: $text-font;
        font-size: 16px;
        font-weight: 400;
        line-height: 32px;
        letter-spacing: 0%;
        gap: 10px;
    }

    &_filters {
        display: flex;
        gap: 10px;
        color: $color-text;
    }
    &__filter-1{
        position: relative;
    }
    
}

.filter-1{
    &__button{
        box-sizing: border-box;
        border: 1px solid rgb(196, 196, 196);
        border-radius: 20px;
        font-family: $text-font;
        font-size: 16px;
        font-weight: 500;
        line-height: 20px;
        letter-spacing: 0%;
        padding-left: 23px;
        width: 180px;
        height: 37px;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        background: url("img/arrow.svg") 90% no-repeat;
        text-align: left;
        cursor: pointer;
    }
    
    &__form{    
        position: absolute;
        display: none;
        flex-direction: row;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 32px 65px;
        padding: 40px 48px;
        box-shadow: 0px 4px 67px -12px rgba(0, 0, 0, 0.32);
        background: rgb(255, 255, 255);
        right: 0;
        top: calc(100% + 14px);
        height: 510px;
        width: 500px;
        flex-direction: column;
        flex-wrap: wrap;
        z-index: 1;

        &__fieldset {
            display: flex;
            flex-direction: column;
            gap: 16px;
            padding: 0;
            border: none;

            &_types{
                padding-right: 40px;
                width: 190px;
                height: 330px;
            }

            &__legend{
                padding-bottom: 14px;
                color: $price-text;
                font-family: $text-font;
                font-size: 16px;
                font-weight: 500;
                line-height: 20px;
            }
        }

        &__button{
            margin-top: 100px;
            border: 1px solid #000;
            border-radius: 20px;
            min-height: 40px;
            font: inherit;
            width: 190px;
            height: 40px;
            cursor: pointer;
            background-color: #fff;
              
        }
    }
}

label{
    color: $color-text;
    font-family: $text-font;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
}

.filter-2__button {
    box-sizing: border-box;
    border: 1px solid rgb(196, 196, 196);
    border-radius: 20px;
    font-family: $text-font;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0%;
    padding-left: 23px;
    width: 230px;
    height: 37px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: url("img/arrow.svg") 90% no-repeat;
    cursor: pointer;
}

.radio {
    display: flex;
    align-items: center;
    gap: 10px;

    &__input{
        display: none;
    }
}

.radio__input + .radio__label {
    position: relative;
    padding-left: 25px;
    cursor: pointer;
}

.radio__input + .radio__label:before{
    content: "";
    width: 14px;
    height: 14px;
    border: 1px solid #888888;
    border-radius: 50%;
    position: absolute;
    left: 0;
    background-color: #fff;
}

.radio__input:checked + .radio__label::before{
    content: "";
    width: 14px;
    height: 14px;
    border: 1px solid #000000;
    border-radius: 50%;
    position: absolute;
    left: 0;
    background-color: #fff;
    border-color: #000;
    background-image: url(img/check.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.range{
    position: relative;
}

.range__input{
    position: absolute;
    width: 190px;
    left: 0;
    top: calc(100% + 14px);
}

.range__input,
.range__input::-webkit-slider-runnable-track,
.range__input::-webkit-slider-thumb {
  -webkit-appearance: none;
  background: none;
}

.range__input::-webkit-slider-runnable-track {
    width: 200px;
    height: 1px;
    background: #000;
}
  
.range__input::-webkit-slider-thumb {
    position: relative;
    height: 8px;
    width: 8px;
    margin-top: -4px;
    background: #000;
    border: 1px solid #000;
    border-radius: 25px;
    cursor: pointer;
    z-index: 1;
}
  
.range__input::-webkit-slider-thumb:active {
    cursor: grabbing;
}

.color-options{
    width: 190px;
    display: flex;
    flex-direction: row;
    gap: 14px;
    flex-wrap: wrap;
    margin-right: 18px;
}

.checkbox{
    gap: 10px;
    width: 15px;
    height: 15px;

    &__input{
        display: none;
    }

    &__label {
        display: flex;
        padding-left: 30px;
        font-family: $text-font;
        font-size: 14px;
        cursor: pointer;
        position: relative;
      }

    &__label::before {
        content: "";
        display: inline-block;
        width: 14px;
        height: 14px;
        border: 1px solid #888888;
        position: absolute;
        left: 0;
        background-color: #fff;
      }
}

.checkbox-types{
    width: 200px;
}

.checkbox__input:checked + .checkbox__label::before {
    background-image: url(img/check.svg);
    background-repeat: no-repeat;
    background-position: center;
    border-color: #000;
}

.checkbox__label-white::before {
    background-color: #fff;
    border-color: #808080;
}

.checkbox__label-black::before {
background-color: #000; 
border-color: #000;
}

.checkbox__label-gray::before {
background-color: #737373;
border-color: #737373;
}

.checkbox__label-red::before {
background-color: #f00;
border-color: #f00;
}

.checkbox__label-orange::before {
background-color: #ff4500;
border-color: #ff4500;
}

.checkbox__label-yellow::before {
background-color: #ff0; 
border-color: #ff0;
}

.checkbox__label-green::before {
background-color: #008000;
border-color: #008000;
}

.checkbox__label-cyan::before {
background-color: #1CCC97;
border-color: #1CCC97;
}

.checkbox__label-light-blue::before {
background-color: #009fe3;
border-color: #009fe3;
}

.checkbox__label-blue::before {
background-color: #00f;
border-color: #00f;
}

.checkbox__label-purple::before {
background-color: #800080;
border-color: #800080;
}

.checkbox__label-violet::before {
background-color: #8a2be2;
border-color: #8a2be2;
}

.checkbox__label-lavender::before {
background-color: #d89aff;
border-color: #d89aff;
}

.checkbox__label-pink::before {
background-color: #ff1493;
border-color: #ff1493;
}

.checkbox__input:checked + .checkbox__label-black::before,
.checkbox__input:checked + .checkbox__label-blue::before,
.checkbox__input:checked + .checkbox__label-purple::before {
background-image: url(img/check_2.svg)
}

.offer-catalog{
    position: relative;
}

.show_more {
    color: $color-text;
    font-family: $text-font;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: left;
    text-decoration-line: underline;
    margin-left: calc(50% - 600px);
    margin-right: calc(50% - 600px);
}